/**
 * Icon Styles
 */

@import '../../styles/tokens.css';

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
}

.icon--xs {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.icon--sm {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.icon--md {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.icon--lg {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
